<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Charles Babbage</title>}
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <h1>Charles Babbage</h1>
    </header>
    <main>
        <p><img src="/img/charles2.jpg" alt="Charles Babbage"></p>
        <p>
        Charles Babbage, conocido por muchos como “El Padre de la computación”, fue un matemático y científico de la computación británico nacido el 26 de diciembre 1791. En 1810 llegó a la universidad de Cambridge, luego de unos años formó la Sociedad Analítica junto con otros alumnos de Cambridge y en 1816 entró a formar parte de la Real Sociedad de Matemáticas de Londres.
        Durante las primeras reuniones con la Sociedad Analítica ideó un dispositivo que más tarde se convertiría en la máquina en diferencias, en la cual empezó a trabajar 1819 y tras obtener un motor en diferencias funcional en 1822 y ganar una medalla honorífica de la Sociedad de Astronomía de Londres, consiguió una subvención para completar lo que hoy conocemos como su máquina en diferencias. Aunque en un primer momento pensó que podía terminarla en 3 años tuvo que parar en 1834 por falta de fondos, año en el que empezó a pensar en construir su máquina analítica.
       </p> 

    </main>
</body>
</html>