<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grace Hopper</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <h1>Grace Hopper</h1>
    </header>
    <main>
       <p><img src="/img/hopper.jpg" alt="Grace Hopper"></p>
        <p>En diciembre de 1906, Grace Murray Hopper (nacida Grace Brewster Murray) demostró desde muy pequeña sus aptitudes para las ciencias y las matemáticas.En 1924, tras formarse en varias escuelas privadas para mujeres, Grace inició sus estudios de matemáticas y física en el Vassar College de Nueva York, graduándose con honores en 1928. Poco después, obtuvo una beca que la llevaría a cursar una maestría en matemáticas en la Universidad de Yale, donde se graduó y posteriormente realizó su doctorado.Un año después de su unión a la Marina, Amazing Grace se graduó con el rango de teniente. Tenía 37 años y fue la número uno de su promoción. Después, fue destinada a trabajar en la primera computadora de Estados Unidos, la Harvard Mark I. 
        Cuando Hopper llegó a Harvard, se encontró con un hardware que estaba creado. La necesidad principal ahora era hacerlo funcionar: entender los mecanismos y encontrar la manera de programar la computadora, de decir al ordenador qué tenía que hacer, trasladar a una ecuación matemática un problema de física que la Mark I pudiera resolver.
        esas cuestiones, nace la programación, aunque Ada Lovelace ya había sentado precedentes en 1842, cuando creó el primer algoritmo informático para la Máquina Analítica de Babbage. Así, existen paralelismos entre ambas científicas. Hopper desarrolló para la computadora de Aiken lo que Lovelace había desarrollado para la de Babbage. Como Lovelace, Hopper profundizó en el concepto y desarrollo de subrutinas.
        Mientras trabajaba en la programación de la Mark I, Hopper formalizó el concepto de compilador. Simplificado, hablamos de una especie de traductor de código que sirve para que las mismas órdenes se puedan dar a distintos ordenadores. El compilador adapta las órdenes al lenguaje de cada uno de manera automatizada.
        A día de hoy, muchos bancos continúan utilizando el Common Business-Oriented Language, el COBOL, el primer lenguaje informático universal, diseñado para la informática de gestión.</p>
       

    </main>
</body>
</html>