<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DH Heroes</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="bodycolor" >
    <header>
        <h1>DH Heroes</h1>
    </header>
    
<main class="grid" >
    <a href="babbage.html" target="_blank"> <img src="/img/charles.jpg" alt="babbage."><br>Charles Babbage</a>
    <a href="berners-Lee.html" target="_blank"> <img src="/img/berners.jpg" alt="berners"><br>Tim Berners-Lee</a>
    <a href="clarke.html" target="_blank"> <img src="/img/clarke.jpg" alt="clarke"><br>Joan Clarke</a>
    <a href="hamilton.html" target="_blank"> <img src="/img/hamilton.jpg" alt="hamilton"><br>Margaret Hamilton</a>
    <a href="hopper.html" target="_blank"> <img src="/img/hopper.jpg" alt="hopper"><br>Grace Hopper</a>
    <a href="lovelace.html" target="_blank"> <img src="/img/lovelace.jpg" alt="lovelace"><br>Ada Lovelace</a>
    <a href="turing.html" target="_blank"> <img src="/img/alan.jpg" alt="turing"><br>Alan  Turing</a>
</main>
    
    </body>
    </html>